@model BlogDetailVM

<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Blog
                        <small>Deatil Blog </small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Dashboard" asp-action="Index">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Blog" asp-action="Index">
                            Blog
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Create Date</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Title</td>
                <td>@Html.Raw(Model.Description)</td> <!-- Render HTML content from CKEditor -->
                <td>@Model.CreateDate.ToString("yyyy-MM-dd")</td> <!-- Format the date as needed -->
                <td>
                    @if (!string.IsNullOrEmpty(Model.Image))
                    {
                        <img src="~/img/Blog/@Model.Image" class="img-fluid" alt="Blog Image" style="width:300px;height:200px">
                    }
                    else
                    {
                        <img src="~/images/no_img.jpg" class="img-fluid" alt="No Image Available" style="width:300px;height:200px">
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

