@model TamVaxti.Models.Coupon

<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Edit Coupon
                            <small>Multikart Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index", "Home")">
                                <i data-feather="home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-area="Admin" asp-controller="Coupons" asp-action="List">
                                Coupons
                            </a>
                        </li>
                        <li class="breadcrumb-item active">Edit Coupon</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card tab2-card">
            <div class="card-body">
                <form asp-action="Create" method="post">
                    @*  @Html.HiddenFor(model => model.Id) *@

                    <ul class="nav nav-tabs tab-coupon" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active show" id="general-tab" data-bs-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a></li>
                        <li class="nav-item"><a class="nav-link" id="restriction-tabs" data-bs-toggle="tab" href="#restriction" role="tab" aria-controls="restriction" aria-selected="false">Restriction</a></li>
                        <li class="nav-item"><a class="nav-link" id="usage-tab" data-bs-toggle="tab" href="#usage" role="tab" aria-controls="usage" aria-selected="false">Usage</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="general" role="tabpanel" aria-labelledby="general-tab">
                            <h4>General</h4>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label asp-for="CouponTitle" class="col-xl-3 col-md-4 control-label"></label>
                                        <div class="col-md-7">
                                            <input asp-for="CouponTitle" class="form-control" />
                                            <span asp-validation-for="CouponTitle" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="CouponCode" class="col-xl-3 col-md-4 control-label"></label>

                                        <div class="col-md-4">
                                            <input asp-for="CouponCode" class="form-control" />
                                            <span asp-validation-for="CouponCode" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-primary" onclick="generateCouponCode()">Generate Code</button>

                                        </div>


                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="StartDate" class="col-xl-3 col-md-4 control-label"></label>
                                        <div class="col-md-7">
                                            <input asp-for="StartDate" class="form-control" />

                                            <span asp-validation-for="StartDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="EndDate" class="col-xl-3 col-md-4 control-label"></label>
                                        <div class="col-md-7">
                                            <input asp-for="EndDate" class="form-control" />
                                            <span asp-validation-for="EndDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    @*<div class="form-group row">
                                        <label asp-for="Quantity" class="col-xl-3 col-md-4 control-label"></label>
                                        <div class="col-md-7">
                                            <input asp-for="Quantity" class="form-control" />
                                            <span asp-validation-for="Quantity" class="text-danger"></span>
                                        </div>
                                    </div>*@
                                    <div class="form-group row">
                                        <label asp-for="DiscountType" class="col-xl-3 col-md-4 control-label"></label>
                                        <div class="col-md-7">
                                            @*<input asp-for="DiscountType" class="form-control"/>*@
                                            <select asp-for="DiscountType" class="custom-select w-100 form-control">
                                                <option value="">"--Select--"</option>
                                                <option value="Percent">Percent</option>
                                                <option value="Value">Value</option>
                                            </select> 
                                            <span asp-validation-for="DiscountType" class="text-danger"></span>
                                        </div>
                                    </div>
                                  
                                    <div class="form-group row">
                                        <label asp-for="DiscountValue" class="col-xl-3 col-md-4 control-label"></label>
                                        <div class="col-md-7">
                                            <input asp-for="DiscountValue" class="form-control" />
                                            <span asp-validation-for="DiscountValue" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="IsEnabled" class="col-xl-3 col-md-4 control-label"></label>
                                        <div class="col-md-7">
                                            <input asp-for="IsEnabled" id="checkbox-primary-2" class="checkbox checkbox-primary" type="checkbox" />
                                            <label for="checkbox-primary-2">Enable the Coupon</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="restriction" role="tabpanel" aria-labelledby="restriction-tabs">
                            <h4>Restriction</h4>
                            <div class="form-group row">
                                <label asp-for="MinimumSpend" class="col-xl-3 col-md-4 control-label"></label>
                                <div class="col-md-7">
                                    <input asp-for="MinimumSpend" class="form-control" type="number" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="MaximumSpend" class="col-xl-3 col-md-4 control-label"></label>
                                <div class="col-md-7">
                                    <input asp-for="MaximumSpend" class="form-control" type="number" />
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="usage" role="tabpanel" aria-labelledby="usage-tab">
                            <h4>Usage</h4>
                            <div class="form-group row">
                                <label asp-for="PerLimit" class="col-xl-3 col-md-4 control-label"></label>
                                <div class="col-md-7">
                                    <input asp-for="PerLimit" class="form-control" type="number" />
                                    <span asp-validation-for="PerLimit" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="PerCustomer" class="col-xl-3 col-md-4 control-label"></label>
                                <div class="col-md-7">
                                    <input asp-for="PerCustomer" class="form-control" type="number" />
                                    <span asp-validation-for="PerCustomer" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="pull-right mt-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

<script>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
        function generateCouponCode() {
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
            let code = '';
            for (let i = 0; i < 10; i++) {
                code += characters.charAt(Math.floor(Math.random() * characters.length));
            }
            document.getElementById('CouponCode').value = code;
        }

    document.addEventListener('DOMContentLoaded', function () {
        flatpickr(".datepicker-here", {
            dateFormat: "Y-m-d",
        });
    });</script>
