@model List<TamVaxti.ViewModels.Sliders.SliderVM>
    <style>
        h4 p, h1 p {
            font-size: 20px;
            color: black;
        }
    </style>
<!-- Home Slider -->
<section class="p-0">
    <div class="slide-1 home-slider">
        @foreach (var item in Model)
        {
            <div>
                <div class="home text-start p-left">
                    <img src="~/img/sliders/@item.Image" alt="" class="bg-img blur-up lazyload">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="slider-contain">
                                    <div>
                                        <h4>@Html.Raw(@item.SliderDescription)</h4>
                                        <h1>@Html.Raw(@item.SliderTitle)</h1>
                                        <a asp-controller="ProductList" asp-action="Index" class="btn btn-outline btn-classic">shop now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Home slider end -->
