@using TamVaxti.ViewModels;
@model FooterVM
<!-- footer start-->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 footer-copyright text-start">
                <p>
                    <i class="fa fa-copyright" aria-hidden="true"></i> @DateTime.Now.Year powered by
                    @Model.Company.Name
                </p>
            </div>
            @*  <div class="col-md-6 pull-right text-end">
            <p class=" mb-0">Hand crafted & made with<i class="fa fa-heart"></i></p>
            </div>*@
        </div>
    </div>
</footer>
<!-- footer end-->