@using TamVaxti.ViewModels;
@model FooterVM
<!-- Page Sidebar Start-->
<div class="page-sidebar">
    <div class="main-header-left d-none d-lg-block">
        <div class="logo-wrapper">
            <a asp-controller="Dashboard" asp-action="Index">
                <img class="d-none d-lg-block blur-up lazyloaded"
                     src="~/img/@Model.Company.LogoUrl" alt="@Model.Company.Name">
            </a>
        </div>
    </div>
    <div class="sidebar custom-scrollbar">
        <a href="javascript:void(0)" class="sidebar-back d-lg-none d-block">
            <i class="fa fa-times"
               aria-hidden="true"></i>
        </a>
        <div class="sidebar-user">
            <img class="img-60" src="~/img/users/@Model.UserInfo.ProfileImageURL" alt="@Model.UserInfo.Name" onerror="this.onerror=null; this.src='/img/users/user3.jpg';">
            <div>
                <h6 class="f-14">@Model.UserInfo.Name</h6>
                <p>@Model.UserInfo.Role</p>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li>
                <a class="sidebar-header" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                    <i data-feather="home"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a class="sidebar-header" href="javascript:void(0)">
                    <i data-feather="sliders"></i>
                    <span>Slider</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">

                    <li>
                        <a asp-area="Admin" asp-controller="Slider" asp-action="Index">
                            <i class="fa fa-circle"></i>Slider List
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Slider" asp-action="Create">
                            <i class="fa fa-circle"></i>Add Slider
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="sidebar-header" href="javascript:void(0)">
                    <i data-feather="tag"></i>
                    <span>Brand</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">

                    <li>
                        <a asp-area="Admin" asp-controller="Brand" asp-action="Index">
                            <i class="fa fa-circle"></i>Brand List
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Brand" asp-action="Create">
                            <i class="fa fa-circle"></i>Add Brand
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="sidebar-header" href="javascript:void(0)">
                    <i data-feather="users"></i>
                    <span>About Us</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">

                    <li>
                        <a asp-area="Admin" asp-controller="AboutUs" asp-action="Index">
                            <i class="fa fa-circle"></i>About Us List
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="sidebar-header" href="javascript:void(0)">
                    <i data-feather="message-circle"></i>
                    <span>Blog</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">

                    <li>
                        <a asp-area="Admin" asp-controller="Blog" asp-action="Create">
                            <i class="fa fa-circle"></i>Add Blog
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Blog" asp-action="index">
                            <i class="fa fa-circle"></i>Blog List
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Blog" asp-action="Comment">
                            <i class="fa fa-circle"></i>Comment
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="sidebar-header" asp-controller="Product" asp-action="ProductReview">
                    <i data-feather="help-circle"></i>
                    <span>Product Reviews</span>
                </a>
            </li>
            <li>
                <a class="sidebar-header" asp-controller="Enquiry" asp-action="Index">
                    <i data-feather="help-circle"></i>
                    <span>Enquiries</span>
                </a>
            </li>
            <li>
                <a class="sidebar-header" href="javascript:void(0)">
                    <i data-feather="box"></i>
                    <span>Products</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">

                    <li>
                        <a asp-area="Admin" asp-controller="Category" asp-action="Index">
                            <i class="fa fa-circle"></i>Category
                        </a>
                    </li>
                    <li>
                        @*  <a href="category-sub.html">
                    <i class="fa fa-circle"></i>Sub Category
                    </a>*@
                        <a asp-area="Admin" asp-controller="SubCategory" asp-action="Index">
                            <i class="fa fa-circle"></i>SubCategory
                        </a>
                    </li>

                    <li>
                        <a asp-area="Admin" asp-controller="Product" asp-action="Index">
                            <i class="fa fa-circle"></i>List
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Product" asp-action="Create">
                            <i class="fa fa-circle"></i>Add Product
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Attribute" asp-action="Index">
                            <i class="fa fa-circle"></i>Attribute
                        </a>
                    </li>
                     <li>
                        <a asp-area="Admin" asp-controller="AttributeOption" asp-action="Index">
                            <i class="fa fa-circle"></i>AttributeOption
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="sidebar-header" href="javascript:void(0)">
                    <i data-feather="archive"></i>
                    <span>Orders</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>

                <ul class="sidebar-submenu">
                    <li>
                        <a asp-area="Admin" asp-controller="Order" asp-action="Index">
                            <i class="fa fa-circle"></i>
                            <span>Order List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="sidebar-header" href="javascript:void(0)">
                    <i data-feather="tag"></i>
                    <span>Coupons</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a asp-area="Admin" asp-controller="Coupons" asp-action="List">
                            <i class="fa fa-circle"></i>List Coupons
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Coupons" asp-action="Create">
                            <i class="fa fa-circle"></i>Create Coupons
                        </a>
                    </li>
                </ul>
            </li>
            @if (User.IsInRole("SuperAdmin"))
            {

                <li>
                    <a class="sidebar-header" href="javascript:void(0)">
                        <i data-feather="user-plus"></i>
                        <span>Users</span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li>
                            <a asp-area="Admin" asp-controller="User" asp-action="Customer">
                                <i class="fa fa-circle"></i>
                                <span>Customer List</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="User" asp-action="Index">
                                <i class="fa fa-circle"></i>
                                <span>User List</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="User" asp-action="Create">
                                <i class="fa fa-circle"></i>
                                <span>Create User</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            <li>
                <a class="sidebar-header" href="javascript:void(0)">
                    <i data-feather="settings"></i><span>Settings</span><i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a asp-area="Admin" asp-controller="Company" asp-action="Index">
                            <i class="fa fa-circle"></i>
                            <span>Company Profile</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- Page Sidebar Ends-->