<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Access Denied</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="p-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-section">
                    <h1>403</h1>
                    <h2>unauthorize access</h2>
                    <h3>Sorry, you do not have permission to view this page.</h3>
                    <h3 style="margin:20px">If you believe this is an error, please contact your administrator.</h3>
                    <a asp-action="Redirect" asp-controller="Account" class="btn btn-solid">back to home</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->