@model TamVaxti.Models.ResetPassword

<section class="section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="col-md-12 d-flex justify-content-center mb-2"><h4>Forgot Password</h4></div>
                    <form class="theme-form" asp-action="ForgotPassword" method="post">
                        <div class="form-row row">
                            <div class="col-md-12">
                                <input type="text" class="form-control" asp-for="Email" placeholder="Enter Your Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-3">
                                <input type="submit" value="Submit" class="btn btn-solid" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12 d-flex justify-content-center mt-2">
                    <span style="color: #3e3b3b">Already have an account?</span><a
                        style="margin-left: 7px; color: #1879f7; cursor: pointer" asp-action="SignIn">
                        Login</a>
                </div>
            </div>
        </div>
    </section>