@model TamVaxti.Models.ConfirmResetPassword

<section class="section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="col-md-12 d-flex justify-content-center mb-2"><h4>Reset Password</h4></div>
                    <form asp-action="ResetPassword" method="post">
                        <input type="hidden" asp-for="Token" class="form-control" />
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label"></label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-solid" />
                        </div>
                    </form>
                </div>
                <div class="col-md-12 d-flex justify-content-center mt-2">
                    <span style="color: #3e3b3b">Already have an account?</span><a
                        style="margin-left: 7px; color: #1879f7; cursor: pointer" asp-action="SignIn">
                        Login</a>
                </div>
            </div>
        </div>
    </section>

