@model List<Product>

@{
    ViewData["Title"] = "Wishlist";
}


<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>wishlist</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="breadcrumb-item active">wishlist</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="wishlist-section section-b-space" id="wishlist-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 table-responsive-xs" id="wishlist-products">
                @await Html.PartialAsync("_WistListProducts", Model)
            </div>
        </div>
        <div class="row wishlist-buttons">
            <div class="col-12">
                <a asp-controller="ProductList" asp-action="Index" class="btn btn-solid">continue shopping</a>
                <a href="#" onclick="openCart();" class="btn btn-solid">
                        View Cart
                </a>
            </div>
        </div>
    </div>
</section>
<!--section end-->

@section js{
    <script>
        $(document).on('click', '.add-to-wishlist', function () {
            $(this).closest('tr').remove();

           
        });
    </script>
}