@model IEnumerable<BasketVM>

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>cart</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Basket" asp-action="Cart">Home</a></li>
                        <li class="breadcrumb-item active">cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 table-responsive-xs" id="cart-container">
                @await Html.PartialAsync("_CartItems", Model)
            </div>
        </div>
        <div class="row cart-buttons">
            <div class="col-6"><a asp-controller="Product" asp-action="Index" class="btn btn-solid">Continue shopping</a></div>
            <div class="col-6"><a asp-controller="Order" asp-action="CheckOut" class="btn btn-solid">Check Out</a></div>
        </div>
    </div>
</section>